*{
    margin: 0;
    margin-right: 100px;
    padding: 0;
}
body {
background-color: gray;
}
h1{
  color: black;
  text-align: center;  
}
.block1{
    background-color: yellow;
}

.block2{
    background-color: black;
    padding-left: 15px;
}

.block2 button{
    background-color: yellow;
        border: none;
        color: black;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        display:inline-block;
   margin-right:5px;
   margin-bottom: 30px;
}

.block2 h2{
    color: white;
}

.block2 article{
    color: white;
}

.block3{
    background-color:white;
    padding-left: 15px;
}

.block3 button{
    background-color: black;
        border: none;
        color: white;
        padding: 10px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        cursor: pointer;
        display:inline-block;
   margin-right:5px;
   margin-bottom: 30px;
}

.block3 h2{
    color: black;
}

.block3 article{
    color:black;
}